<html ng-app="todoapp">
<head>
  <link href="css/bootstrap.css"  rel="stylesheet"/>
   <script src="angular.js"> </script>
   <script src="app.js"> </script>
</head>
<style>

  .font4{
    font-size: 50px;
    font-weight: bold;
  }
 .font{
   font-size: 30px;
   font-weight: bold;
 }
 .font2{
   font-size: 20px;
   font-weight: bold;

 }
 .font3{
   font-size: 14px;
   font-weight: bold;
   font-family: verdana;

 }
</style>
<body class="container">
    <h1 class="jumbotron font4">Todo List App</h1>
  <div ng-controller="todoctrl as ctrl" class="container-fluid">


        <div>
          <p class="font2">
          Add Todo</p>
           <div  class="col-sm-3">
             <input   class="form-control" ng-model="ctrl.newTodo" type="text" />
           </div>
          <br />
          <br / >
          <button ng-click="ctrl.addNewItem()" class="btn btn-sm btn-primary col-sm-1">Add</button>
        </div>
        <div>
            <br />
            <br />
            <button ng-hide="ctrl.editMode" ng-click="ctrl.editList()" class="btn btn-primary"> Edit </button>
            <button  ng-show="ctrl.editMode" ng-click="ctrl.editList()" class="btn btn-primary"> Done </button>

        </div>

        <br />
        <div >
          <p class="font">Your Todos:</p>
          <div class="list-group ">
            <ol>
                    <li ng-repeat="todo in ctrl.todos" class="list-group-item col-sm-12 font3"  >
                       <span ng-hide="ctrl.editMode" ng-bind="todo"></span>
                       <input ng-model="todo" ng-show="ctrl.editMode"   type="text" />
                       <div class="btn">
                         <button ng-click="ctrl.deleteList($index)" class="btn btn-Danger">Delete</button>
                       </div>

                    </li>
            </ol>
          </div>
        </div>

  </div>

</body>
</html>
